[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
dj-database-url = "*"
django-extensions = "*"
djangorestframework = "*"
djangorestframework-jwt = "*"
django-split-settings = "*"
django-cors-headers = "*"
django-rest-swagger = "*"
django-webpack-loader = "*"
markdown = "*"
"psycopg2-binary" = "*"
python-decouple = "*"
pytz = "*"
dj-static = "*"
static3 = "*"

[dev-packages]
"flake8" = "*"
"autopep8" = "*"
httpie = "*"
pytest = "*"
pytest-django = "*"
django-test-without-migrations = "*"
werkzeug = "*"

[requires]
python_version = "3.7"
